* {
  font-family: 'Nunito', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.off-screen {
  transform: translateX(100%);
}

.container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

#settings-main {
  margin-top: 1rem;
}

.header-title {
  text-align: center;
  grid-column-start: 2;
  font-size: 3rem;
}

.header-right {
  justify-self: end;
  grid-column-start: 3;
}

.main {
  flex: 1 1 auto;
}

.section {
  padding: 0 3rem;
  margin-bottom: 2rem;
}

.setting-label {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.setting-control {
  padding-left: 2rem;
}

.setting-control .checkbox {
  margin-right: 1rem;
}

.slider {
  display: block;
  width: 100%;
}

.button-bar {
  flex: 0 0 3.5rem;
  display: flex;
  margin-right: 0;
}

.button-bar .button {
  flex: 1 1 auto;
}

#back-button {
  padding: 0 2rem;
  height: 100%;
}

.button {
  font-size: 1.5rem;
  border-radius: 1rem;
  border: none;
  margin-right: 0.7rem;
  outline: none;
  transition: background-color 0.2s;
  background: rgba(208, 208, 208 0.5);
}

.button:hover {
  cursor: pointer;
  background: rgba(208, 208, 208, 0.75);
}

.button:active {
  cursor: pointer;
  background: rgba(208, 208, 208, 1.0);
}

.button:last-child {
  margin-right: 0;
}

#canvas {
  position: fixed;
}